.dock-wrapper {
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

/* tray */
.dock {
  height: 77px;
  background: #fdfdfd;
  border-radius: 24px;
  box-shadow: 0 4px 14px rgba(22, 21, 21, 0.25);

  display: flex;
  align-items: center;

  gap: 12px;
  padding: 0 22px;
}

/* each icon slot */
.dock-item {
  width: 41px;
  height: 41px;

  display: grid;
  place-items: center;

  position: relative;

  text-decoration: none;
  border: 0;
  background: transparent;
  padding: 0;

  transform: translateY(-4px);
  transition: transform 120ms ease;
  
}

.dock-item:hover {
  transform: translateY(-8px);
}

/* PNG icon */
.dock-icon {
  width: 41px;
  height: 41px;
  display: block;
  border-radius: 9px;

  /* icon shadow from figma */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);

  user-select: none;
  -webkit-user-drag: none;
}

/* tooltip bubble */
.dock-tooltip {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 14px);
  transform: translateX(-50%) translateY(6px);
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;

  background: rgba(110, 110, 115, 0.95);
  color: white;
  font-size: 14px;
  font-weight: 600;

  padding: 10px 16px;
  border-radius: 14px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

  transition: opacity 120ms ease, transform 120ms ease;
}

.dock-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(110, 110, 115, 0.95);
}

.dock-item:hover .dock-tooltip,
.dock-item:focus-visible .dock-tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/* dock dot */
.dock-dot {
  position: absolute;
  left: 50%;
  top: calc(100% + 10px); 
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 999px;
  background: #525151;
  opacity: 0;
}

/* show dot when active */
.dock-item.is-active .dock-dot {
  opacity: 1;
}